*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: white;
    height: 100vh;
}
.main{
    height: 100%;
    background-color: white;
    /* padding: 5rem; */
}
.parent{
    /* height: 100vh; */
    background-image: url(./assets/images/bg-hero-desktop.svg);
    background-color:  hsl(193, 100%, 96%);
    padding: 5rem;
}
.header{
    display: flex;
    justify-content: space-between;
}
.trial{
    width: 15rem;
    height: 3.5rem;
    border-radius: 3rem;
    background-color: white;
    font-size: 1.5rem;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 6rem;
}
.section1{
   display: grid;
   grid-template-rows: 2fr 1fr 1fr;
   gap: 3rem;
}
.info1{
    font-size: 5rem;
}
.info2{
    font-size: 1.5rem;
}
.trial2{
    width: 65%;
    border-radius: 2.5rem;
    background-color: rgb(228, 66, 93);
    color: white;
    font-size: 2rem;
}
.content{
    padding:5rem;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5rem;
    background-color: white;
}
.cont1{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color:  hsl(193, 100%, 96%);
    border-radius: 2rem;
    justify-content: space-around;
}
.cont1_caption{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding-left: 7rem;
    justify-content: space-around;
}
.headercont1{
    font-size: 5rem;
}
.cont1p{
    font-size: 2rem;
}
.g_image{
    height:35rem;
    width: 35rem;
}
.cont2{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color:  hsl(193, 100%, 96%);
    border-radius: 2rem;
    justify-content: space-around;
}
.f_image{
    height:35rem;
    width: 35rem;
    padding-left: 10rem;
}
.cont2_caption{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem; 
    padding-left: 7rem;
    justify-content: space-around  
}
.headercont2{
    font-size: 5rem;
}
.cont2p{
    font-size: 2rem;
}
.cont3{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color:  hsl(193, 100%, 96%);
    border-radius: 2rem;
    justify-content: space-around;
}
.cont3_caption{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding-left: 7rem;
    justify-content: space-around;
}
.headercont3{
    font-size: 5rem;
}
.cont3p{
    font-size: 2rem;
}
.y_image{
    height:35rem;
    width: 35rem;
}
.footer{
    display: grid;
    grid-template-rows: 20rem 1fr;
    height: 75%;
}
.footer1{
    /* background-color: rgb(175, 16, 16); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    width:50%;
    height: 85%;
    margin-bottom: -10rem;
    z-index: 1;
    padding: 5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.card_header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer2{
    background-color: hsl(192, 100%, 9%);
    padding-top: 12rem;
    padding-left: 5rem;
    padding-right:2rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-rows: 1fr 5rem;
}
.footup{
    /* background-color: black; */
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
}
.red{
    /* background-color: red; */
    color: white;
    padding-top: 10rem;
}
.blue{
    /* background-color: blue; */
    color: white;
    padding-top: 10rem ;
}
.yellow{
    /* background-color: yellow; */
    color: white;
    padding-top: 10rem ;
}
.green{
    /* background-color: green; */
    color: white;
    padding-top: 10rem ;
}
.footdown{
    /* background-color: white; */
    text-align: center;
    color:white;
}